{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_users') }}">See all users</a>
    <a href="{{ path('app_admin_courses') }}">See all courses </a>
{% endblock %}
